<h1> YooHoo </h1>
<div class="yellow">
		<%= image_tag "yellow.jpg" %>
</div>

	
	<div class="green">
		<%= image_tag "green.jpg" %>
	</div>

	<div class="purple">
		<%= image_tag "purple.jpg" %>
	</div>
	

	

	
		`
	
