html
{
	background-color: black;
}
h1 {
	font-size:40px;
}

.yellow {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 15%; 
	z-index: 10px;
}




.green {
	position: relative;
	height: 187%;
	width: 250%;
	left: 15%;
	top: 50%;
	z-index: 10px;
	}





.purple {
	position: relative;
	height: 246%;
	width: 300%;
	left: 15%;
	z-index: 10px;
	
	}